* {
    font-family: "Georgia";
}

body {
    background-color: rgb(255, 240, 192);
}

div {
    background-color: rgba(253, 247, 229, 0.5);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: auto;
    border-style: ridge;
    border-color: color-mix(in xyz, black, beige);
    border-width: 1px;
    border-radius: 5px;
}

main {
    margin-left: 1in;
    margin-right: 1in;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

ol, ul {
    line-height: 1.5;
}

details {
    padding-left: 20px;
}

header {
    background-color: #444;
    margin: -8px -8px -8px -8px;
    padding: 8px 8px 16px 8px;
    color: hsl(0, 100%, 100%);
    text-align: center;
    font-family: "zalando sans semiexpanded";
}

footer {
    background-color: #404040;
    margin: -8px -8px -8px -8px;
    padding: 8px 8px 16px 8px;
    color: hsl(0, 100%, 100%);
}

/* class used for highlighting unfinished business */
.problem {
    color: color(xyz 0.7 0 0.2)
}

/* class used for styling subsection titles */
.sub {
    background-color: rgb(221, 169, 0);
    margin-left: -15px;
    margin-right: -15px;
    padding: 2px 15px 2px 15px;
    font-family: "zalando sans semiexpanded";
}