:root {
    --outline-color: color-mix(in xyz, black, beige);
}

* {
    font-family: "Georgia";
}

body {
    background-color: rgb(255, 240, 192);
}

div {
    background-color: rgba(253, 247, 229, 0.5);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: auto;
    border-style: ridge;
    border-color: var(--outline-color, color-mix(in xyz, black, beige));
    border-width: 1px;
    border-radius: 5px;
}

hr {
    border-color: var(--outline-color, color-mix(in xyz, black, beige));
}

main {
    margin-left: 1in;
    margin-right: 1in;
    margin-top: 20px;
    margin-bottom: 20px;
}

p, form {
    padding-left: 20px;
    padding-right: 20px;
}

ol, ul {
    line-height: 1.5em;
}

details {
    padding-left: 20px;
}

details:hover {
    background-color: color-mix(in xyz, lightgray, beige);
}

details:active {
    background-color: var(--outline-color, color-mix(in xyz, black, beige));
}

video, audio {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

header {
    background-color: #444;
    margin: -8px -8px -8px -8px;
    padding: 8px 8px 16px 8px;
    color: hsl(0, 100%, 100%);
    text-align: center;
    font-family: "zalando sans semiexpanded";
}

footer {
    background-color: #404040;
    margin: -8px -8px -8px -8px;
    padding: 8px 8px 16px 8px;
    color: hsl(0, 100%, 100%);
}

/* class used for highlighting unfinished business */
.problem {
    color: color(xyz 0.7 0 0.2);
    display: block;
}

/* class used for aligning solutions to unfinished business */
.solution {
    display: inline;
}

/* class used for styling subsection titles */
.sub {
    background-color: rgb(221, 169, 0);
    margin-left: -15px;
    margin-right: -15px;
    padding: 2px 15px 2px 15px;
    font-family: "zalando sans semiexpanded";
}

/* navigaton links */
.link {
    display: inline;
    margin-left: -15pt;
    margin-right: 2pt;
}

/* last navigaton link */
.linklast {
    display: inline;
    margin-left: -15pt;
    margin-right: -15pt;
}

/* class used for formatting images in the diagram section */
.diagram {
    width: 35vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

#button {
    margin-left: 15pt;
}

#imgflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#mediagrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

#navigation {
    display: flex;
    justify-content: center;
}

#menu {
    max-height: 100vh;
}